<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://coordipsy/prechoice/1.0"
            class="org.coordipsy.prechoice.prechoice.PrechoicePackage"
            genModel="model/prechoice.genmodel"/>
   </extension>

</plugin>
